@tailwind base;
@tailwind components;
@tailwind utilities;

.full-scroller-container {
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.full-scroller-track {
  display: flex;
  gap: 50px;

  white-space: nowrap;
  width: 200%; /* Double the width to accommodate both images */
  animation: scroll 15s linear infinite;
}

.full-scroller-image {
  flex: 0 0 auto;
  width: 40%; /* Ensure the image takes up full width */
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
