@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-gradient {
  background: linear-gradient(to right, #b16cea, #ff5e69, #ff8a56, #ffa84b);
  -webkit-background-clip: text;
  color: transparent;
}
